__pycache__/
triad_py/*.pyc

triad_sol/node_modules/
triad_sol/.env
triad_sol/coverage
triad_sol/coverage.json
triad_sol/typechain
triad_sol/typechain-types/

#Hardhat files
triad_sol/cache
triad_sol/artifacts